[submodule "services/order"]
	path = services/order
	url = https://github.com/PhamBaBac/microservice_e-commerce-app.git
[submodule "services/payment"]
	path = services/payment
	url = https://github.com/PhamBaBac/microservice_e-commerce-app.git
